.speech{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color:black
}

.direction{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
    color:black;
    background-color:azure;
}

.name:hover{
    color: aquamarine;
    text-shadow: 6px 7px 8px rgb(140, 120, 110) ;
    border : 5em;
}
.direction:hover {
    background-color: blue;
    color:black
}
.hedda{
    color: blueviolet;
}
.misstesman{
    color:aqua
}

table{
    border-collapse: separate;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
table th{
    background-color: brown;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

table td{
border: 1px solid orange;
text-align: center;
padding: 10px;
border-radius: 10PX;
}

table tbody tr:nth-child(even){
    background-color: rgb(184, 225, 200);
}
td{
    width: 1.6em;
    height: 1.6em;
    text-align: center;
    vertical-align: middle;
}
.hedda:hover{
    text-shadow: 2px 2px 1px red;
    border: 1px dotted red;
    filter: blur(0.5px);
}
.misstesman:hover{
    text-shadow: 2px 2px 1px blue;
    border:1px dotted blue;
    filter: blur(0.5px);
    
}

ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; /* line up horizontally */
    color:#7d0707;
    background-color:rgb(142, 179, 185)
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px
    }